@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.container {
    max-width: 280px;
    margin-top: 15px;
    text-transform: uppercase;
}
.container img {
    width: 80%;
    z-index: 2;
}
.container img:hover {
    transition-duration: 200ms;
    transform: scale(1.1);
}
.info {
    font-family: 'VT323', monospace;
    margin-top: -70px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 15px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.divTypes {
    display: flex;
    justify-content: center ;
}
.link {
    text-decoration: none;
    color: black;
}