@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@500&display=swap');
.container {
    /* background: url('../../../public/pokemon.jpg') no-repeat center fixed; */
    /* background-size: cover; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.titulo {
    max-height: 20%;
    max-width: 50%;
    /* margin: auto; */
    margin-top: 40px;
}
.parrafo {
    width: 20%;
    position: fixed;
    left: 55px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 50px;
    /* padding-left: 190px; */
    margin: auto;
    width: 50%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}
.tecnologies {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.tecnologies img {
    height: 50px;
}

/*** ESTILOS BOTÓN SLIDE RIGHT ***/
.ov {
    background: #fff; /* color de fondo */
    color: black; /* color de fuente */
    border: 2px solid black; /* tamaño y color de borde */
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 50px;
  }
  .ov:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov::after {
    content: "";
    background: black; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

@media (max-width: 800px){
    .tecnologies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}